{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ title }}</h1>

        <div class="row block book">
            {{ message }}
        </div>
    </div>
{% endblock %}
